.aside {
    grid-area: aside;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #666;

    a {
        color: #fff;
    }
    .menuViews {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 20px;
        }
    }
}
