.aside {
    display: flex;
    justify-content: center;
    align-items: center;

    width:40%;
    height: 100%;
    padding-bottom: 120%;
    a {
        color: #fff;
    }
    .menuViews {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;
        }
    }
}