.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #d6d6d6;
    width:40%;
    height: 100%;
    padding-bottom: 120%;
    a {
        color: #757474;
    }
    .menuViews {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;
        }
    }
}