.guarantee {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  
  .square {
    margin-top: 1%;
    width: 50%;
    height: 300px;
    background-color: var(--secondary--color-light);
    padding: 3%;
    border: 2px solid  var(--accent--third--color-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  h1 {
    font-size: 300%;
    font-weight: bold;
  }

  p {
    font-size: 200%;
  }
}
  
  
  .anotherSection {
    margin-top: 5%; 
    padding-top: 5%;
    background-color: var( --secondary--color-light);
    text-align: center; 
    
    h2 {
    font-size: 250%;
    font-weight: bold;
  }

  p {
    font-size: 150%;
  }

  }

.section1{
  background-color: var(--primary--color-light);
  margin-top: 5%;
}
  .contact {
    background-color: var(--accent--third--color-light); 
    color: #030202; 
    padding: 1% 1%; 
    border: none;
    border-radius: 10px; 
    font-size: 180%;
    cursor: pointer;
    font-weight: bold;
    margin: 5%;
  }
  
  .contact:hover {
    background-color:var(--accent--primary--color-light );
  }

  
.customShapeDividerTop1690916851 svg {
    position: relative;
    display: block;
    width: calc(160% + 1.3px);
    height: 184px;
}

.customShapeDividerTop1690916851 .shapeFill {
    fill: var(--sixth--color-light);
}