.guarantee {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .square {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .anotherSection {
    margin-top: 20px; 
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }

  .contactSection {
    margin-top: 20px; 
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
  }

  button {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 4px; 
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }