.cardsJobs {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Cambio en esta línea */
    margin-top: 2%;
    gap: 16px;
    max-width: 90vw;

}
