.support-form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2%;
    width: max-content;
    background-color:rgba(238, 237, 237, 0.836);
    margin: 0 auto; 
 
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--card-background-light);
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 34rem;
}

.pagination {
    margin-top: 1%;
}

.back-button{
    display: flex;
    justify-content: center;
}