/* Estilos para las cajas de biografía */

.mainHide {
    display: none;
}
.aboutboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: center;
    .card {
        background-color: rgba(74, 74, 74, 0.151);
        margin: 3rem;
        width: 21rem;
        height: 25rem;
        overflow: hidden; /* Agregar esta propiedad para permitir el desplazamiento del contenido */
        perspective: 1000px;
        position: relative;
        border-radius: 1em;
        box-shadow: none;

        .cardfront {
            h2 {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
        p {
            margin: 1rem;
            font-size: 0.8rem;
            font-weight: 350;
        }
        img {
            height: 90%;
            width: 90%;
            margin-top: 0px;
            border-radius: 0;
        }
        .imageabout2 {
            height: 70%;
            width: 100%;
            margin-left: 1.5%;
            margin-top: 4rem;
            align-content: center;
            justify-self: center;
            object-fit: cover;
        }
    }
}

.aboutbox {
    // background-color: var(--secondary--color-light);
    margin: 2rem;
    max-width: 21rem;
    height: 25rem;
    padding: auto 1rem;
    overflow: auto; /* Agregar esta propiedad para permitir el desplazamiento del contenido */
    perspective: 1000px;
    position: relative;
    // background-color: rgba(162, 155, 227, 0.515);
    p {
        margin: 2rem;
        font-size: 0.8rem;
    }

    .aboutfront,
    .aboutback {
        backface-visibility: hidden;
        transition: transform 0.6s;
    }
    .aboutback {
        transform: rotateY(180deg);
    }

    &:hover .aboutfront {
        transform: rotateY(180deg);
    }

    &:hover .aboutback {
        transform: rotateY(0);
    }
    /* Estilos adicionales para el contenido en la cara trasera */
    .aboutbackcontent {
        display: flex;

        align-items: center;
        justify-content: center;
        // height: 100%;

        /* Asegurar que la imagen se ajuste al contenedor */

        p {
            margin: 2rem;
            font-size: 0.8rem;
        }
    }
}
.about {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    background-color: rgba(74, 74, 74, 0.151);

    box-shadow: 0px 30px 52px -25px var(--secondary--color-hover);
    h2 {
        font-size: 2.5em;
        font-weight: 550;
    }
}
.about2 {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--secondary--color-light);

    padding-left: 5%;
    box-shadow: 0px 30px 52px -25px var(--secondary--color-hover);
    margin-bottom: 2%;
    h2 {
        font-size: 2em;
        font-weight: 600;
    }
}
.aboutboxinner {
    position: relative; /* Set the position to 'relative' */
}
/* Estilos generales */
.card {
    width: 14rem; //230px
    height: 19rem;
    border-radius: 2em;
    // padding: 10px;
    // background-color: var(--sixth--color-light);
    // box-shadow:
    //     5px 5px 30px var(--sixth--color-light),
    //     -5px -5px 30px var(--sixth--color-light);
    margin: 1rem;
    perspective: 1000px;
    position: relative;
    background-color: rgba(74, 74, 74, 0.151);

    img {
        border-radius: 100%;
        height: 7rem;
        width: 8rem;
        align-items: center;
        justify-content: center;
        // object-fit: cover;
    }

    center {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .profileimage {
            background-color: transparent;
            border: none;
            margin-top: 20px;
            // border-radius: 5em;
            width: 115px;
            height: 100px;
        }

        .Name {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 10px;
            font-size: 1rem;
            margin-top: 1.02rem;
 
        }

        .socialbar {
            background-color: #ffffff;
            border-radius: 3em;
            width: 90%;
            padding: 14px;
            margin-top: 15px;
            color: black;
            box-shadow:
                3px 3px 15px var(--sixth--color-light),
                -3px -3px 15px var(--sixth--color-light);

            a {
                transition: 0.4s;
                color: white;
            }
            p {
                font-size: 0.8rem;
                font-weight: 800;
            }
        }
    }

    svg {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /* Estilos para la cara frontal de la tarjeta */
    .cardfront,
    .cardback {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.6s;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 2em;
        // background-color: rgba(162, 155, 227, 0.515);
    }
    .cardfront {
        backface-visibility: hidden;
        // overflow: hidden;
    }
    /* Estilos para la cara trasera de la tarjeta */
    .cardback {
        transform: rotateY(180deg);

        .bio {
            max-height: 50%;
        }
        .bio2 {
            position: relative;
            overflow-y: scroll; /* Use "auto" to add scrollbars only when needed */
            // height: 50%;
            max-height: 100%; /* Adjust this value as needed */
            // padding: 10px; /* Add padding for better spacing */
            // margin-top: 35%;
            // scrollbar-color: rgba(36, 40, 255, 0.273) rgba(127, 255, 212, 0.159);
            scrollbar-width: thin;
        }

        p {
            margin: 0; /* Reset default margin */
            font-size: 0.7rem;
            // line-height: 1.2; /* Adjust line height for better readability */
        }

        .socialbar {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            height: 18%;
            margin-top: 30%;
           a{
            margin-bottom: 30%;
            border: none !important;
           }
        }
    }

    &:hover .cardfront {
        transform: rotateY(180deg);
    }

    &:hover .cardback {
        transform: rotateY(0);
    }
}

/* Estilos para el contenedor de las tarjetas */
.cardcontainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5em 0 3em 0;
    margin: 1em;
}

.custom-shape-divider-top-1691195590 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1691195590 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}
