// clientLogin.module.scss
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 3% auto;
    background-color: rgba(195, 201, 255, 0.5);
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 3rem; /* Ajusta el espacio alrededor del formulario */
    height: 45%;

    .formtitle {
        font-size: x-large;
    }

    .forminput {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;

        label {
            flex: 1;
            font-size: 18px;
            color: black;
            min-width: 70px;
        }

        .textInput {
            flex: 2;
            width: 100%;
            margin-left: px;
            padding: 3px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 14px;
        }
    }

    .forminput p {
        font-size: 14px;
        color: red;
        margin-left: 10px;
    }

    .submitbutton {
        display: flex;
        justify-content: center;
        margin: 2rem;

        input {
            padding: 8px 16px;
            background-color: rgba(58, 76, 240, 1);
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            text-transform: capitalize;
        }

        input:hover {
            background-color: rgba(44, 54, 145, 1);
        }

        input:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
    h1 {
        margin-bottom: 4rem;
    }
}

/* Estilos para el fondo solo en el path actual */
.forminput {
    display: flex;
    align-items: center;
    margin-bottom: 7rem; /* Ajusta el espacio vertical entre los div */
    width: 100%;
    flex-wrap: wrap; /* Agrega esta línea para permitir que los elementos se envuelvan en la siguiente línea */

    label {
        flex: 1;
        font-size: 18px;
        color: black;
        min-width: 70px;
    }

    .textInput {
        flex: 2;
        width: 100%;
        margin-left: 10px;
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }
    .errors {
        flex-basis: 100%; /* Agrega esta línea para que el mensaje de error ocupe el 100% de su ancho */
    }
}
