.form {
    max-width: 50%;
    background-color: #f9f7e8; /* Color amarillo pastel */
    border-radius: 1rem;
    border: 2px solid var(--secondary--color-hover);
    padding: 2rem;
    margin-left: 25%;
    border: 2px solid yellow;
    margin-top: 25%;
    height: max-content;
    button {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.pickerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // margin-bottom: 5rem;
}

.picker {
    width: 100%;
    margin-bottom: 1rem;
}
