.detailCont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: var(--third--color-light);
    border-radius: 1rem;
}

.infoCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 2%;
    gap: 2%;
    flex-grow: auto;
    font-size: 1.5rem;
}

.profilePic {
    height: 15%;
    img {
        object-fit: cover;
    }
}

.name {
    display: flex;
    gap: 5%;
}

.rating {
    display: flex;
    align-items: center;
    gap: 2%;
}

.contServices {
    display: flex;
    flex-flow: row wrap;
    width: 60%;
}

.serviceDiv {
    text-align: start;
    font-size: 80%;
    margin-right: 5%;
}

.serviceName {
    color: var(--accent--first--color-light);
}

.carousel {
    display: flex;
    justify-content: center;
    background-color: var(--third--color-light);
    .carouselItem{
        width: 50%;
        margin-left: 25%;
    }
}

.bio {
    height: 20%;
    margin: 2%;
}

.detailform {
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    background-color:  rgba(128, 128, 128, 0.294) !important;
}
.chatbutton {
    width: 20%;
    button {
        border-radius: 5px;
    }
}
