.detailCont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 76vh;
    // margin: 1.3%;
    background-color: var(--third--color-light);
    border-radius: 1rem;
    border: 2px solid var(--secondary--color-hover);
}

.infoCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 2%;
    gap: 2%;
    flex-grow: auto;
    font-size: 1.5rem;
}

.profilePic {
    height: 15%;
}

.name {
    display: flex;
    gap: 5%;
}

.rating {
    display: flex;
    align-items: center;
    gap: 2%;
}

.contServices {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10%;
}

.serviceDiv {
    width: 100%;
    text-align: start;
    margin-left: 5%;
}

.serviceName {
    color: var(--accent--first--color-light);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary--color-light);
    width: 100%;
    flex-grow: 1;
}

.bio {
    height: 20%;
    margin-left: 2%;
    margin-top: 2%;
}

.detailall {
    width: 80%;
}
.detailform {
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 1rem;
}
