.input{
    background-color: grey;
    border: none;
    // margin-right: 0.1%;
    width: 100%;
    height: 2.3rem;
}
.send{
    height: 2.3rem;
    width: 10rem;
}
// .resetPassword{
//     padding-left: 10%;
//     padding-top: 5%;
// }