.input{
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 20px;
    padding: 0 1em;
    width: 50%;
    height: 2.3rem;
    margin: 2em auto
}
.send{
    height: 2.3rem;
    width: 10rem;
    margin: 0 auto;
}
 .resetPassword{
    display: flex;
    justify-content: center;
    margin: 10% auto;
    height: 20em;
    box-shadow: 0em 0em 0.5em 0.5em rgba(155, 155, 155, 0.184);
    flex-direction: column;
    width: 40%;
    h3{
        margin: 0 auto;
        font-weight: 500;
        font-size: 1.15em;
    }

 }