.card {
    background-color: rgba(162, 155, 227, 0.515);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--secondary--color-hover);
    border-radius: 1.5%;
    width: 19rem;
    height: 25rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.5s;
   
}
.card:hover {
    border: 1px solid var(--secondary--color-hover);
    transform: scale(1.03);
}

.contPersonal {
    display: flex;
    width: 90%;
    margin: 5%;
    // gap: 1%;
    // padding: 5%;
 
}

.info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 50%;
}

.name {
    display: flex;
    flex-flow: column wrap;
}

.profilePic {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    
    img {
        object-fit: cover;
        border-radius: 2%;
    }
}

.contServices {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    overflow: scroll;
    height: 40%;
    justify-content: space-between;
    margin-bottom: 10%;
    
    
    
}
.contServices::-webkit-scrollbar{
    display: none;
  }

.serviceDiv {
 
    // white-space: pre-wrap;
    // overflow-y: scroll;
 
    // width: 100%;
    margin-left: 1%;
    font-size: 0.9rem;
    padding: 3%;
    
    
    
    
   
    
}


.serviceName {
    color: var(--contrast-color-light);
    // overflow: hidden;
    // text-overflow: ellipsis;
    white-space: nowrap;
    // margin-bottom: 3%;
    // margin-left: 3%;
   
}
.serviceName::-webkit-scrollbar{
    display:none;
  }

.rating {
    display: flex;
    align-items: center;
    gap: 2%;
}

.button {
    width: 8.5em;
    height: 2.9em;
    border-radius: 7px;
}

.button:hover {
    cursor: pointer;
}

.noServices{
    display: flex;
    margin-left: 25%;
    align-items: center;
}
