@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* fonts */
    --font-poppins: 'Poppins', sans-serif;

    /* colors Light Mode */

    /* Hovers */
    --primary--anchor--color--hover: #0d3619dc;
    --secondary--anchor--color-hover: #6c95f6;
    --third--anchor--color-hover: #0d3619dc;
    /* Primarios */
    --primary--color-light: #ffffff; //* Background Color
    --secondary--color-light: #c1d3fe; //* Boxes Color
    --third--color-light: #d7e3fc; //*
    --sixth--color-light: #abc4ff;
    --eight--color-light: #f9f5e9; //* Background Color 2 (cremita)
    --ninth--color-light:#295d39e7; //buttons chicos
    /* Acentos */
    --accent--third--color-light: #0fa3b1;

    /* Colors Dark Mode */
    --primary--color-dark: #012a4a;
    --secondary--color-dark: #013a63;
    --terciary--color-dark: #014f86;
    --fourth--color-dark: #2a6f97;
    --fifth--color-dark: #468faf;
    --sixth--color-dark: #468faf;
    --seventh--color-dark: #61a5c2;
    --eighth--color-dark: #89c2d9;
    --nineth--color-dark: #a9d6e5;

    /* Acentos */
    --accent--color-light: #f7a072;
    --accent--secondary--color-light: #eddea4;
    --accent--terciary--color-light: #0fa3b1;
}

/* Dark Mode
#012a4a => Primary
#013a63
#014f86 => Third
#2a6f97
#2c7da0 => Fifth
#468faf 
#61a5c2
#89c2d9
#a9d6e5
*/

/* light mode
#edf2fb => Primary
#e2eafc
#d7e3fc
#ccdbfd
#c1d3fe
#b6ccfe
#abc4ff => seventh
*/

// #b8dbd9
