.night-mode {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
    transition: var(--transition-color);
    div {
        border-color: var(--transition-color);
    }

    a {
        color: var(--text-color-dark);
        transition: var(--transition-color);
        border-bottom: none;
        border-color: var(--hover-color-dark);
    }

    button {
        color: var(--button-text-color-dark);
        background-color: var(--button-color-dark);
        border: none;
        cursor: pointer;
        padding: 8px 16px;
        font-size: 15px;
        text-decoration: none;
        text-align: center;

        transition:
            background-color 0.3s,
            color 0.3s;
    }
    button:hover {
        background-color: var(--hover-color-dark);

        transition: background-color 0.5s ease;
    }
}

.day-mode {
    background-color: var(--background-light);
    color: var(--text-color-light);
    transition: var(--transition-background-color);
    transition: var(--transition-color);

    a {
        color: var(--text-color-light);
        transition: var(--transition-color);
        border-bottom: none;
        border-color: var(--button-color-light);
    }

    label {
        color: var(--text-color-light);
        transition: var(--transition-color);
    }

    button {
        color: #fcfcfc;
        background-color: var(--button-color-light);
        border: none;
        cursor: pointer;
        padding: 8px 16px;
        font-size: 15px;
        text-decoration: none;
        text-align: center;

        transition:
            background-color 0.3s,
            color 0.3s;
    }
    button:hover {
        background-color: var(--hover-color-light);
        transition: background-color 0.5s ease;
    }
}
