.layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px 30px;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: last baseline;
  justify-content: center;
  height: 100vh; 
  position:relative;
  div{
    width: 25%;
  }
  
  h3{
      font-size: 30px;
  }
}

.Footer {
  height: 20%;

  display: flex;
  flex-direction: row;
  gap: 50px 50px;
  justify-content: center; 
  align-items: center; 
 
}

.Help{
  width: 20px;
  height: 150px;
}

.money{
  width: 20px;
  height: 150px;
}

.offers{
  padding: 30px;
  background-color: var(--secondary--color-light);
  border-bottom: var(--accent--primary--color-light) 2px solid;
  border-left: var(--accent--primary--color-light) 2px solid;  
  border-right: var(--accent--primary--color-light) 2px solid;
  h1{
      font-size: 75px;
      
  }

  h3{
      font-size: x-large;
  }

}

.button{
  margin: 50px;
  width: 15%;
  height: 80px;
  font-size: x-large;
  font-weight:400;
  border-radius: 20px;
  background-color: var(--accent--third--color-light);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color:var(--accent--primary--color-light );
}


.Register{
  text-align: center;
  border: var(--secondary--color-hover) 1px solid;
  background-color: var(--secondary--color-light);
  padding: 100px;
  border-color: var(--accent--third--color-light);
  border-radius: 50px;
  margin-top: 5%;
  h1{
      font-size: 50px;
  }
}

