.upDiv {
    .buttonUp {
        z-index: 150;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 92%;
        left: 96%;
        padding: 1%;
        height: 50px;
        width: 50px;
        border-radius: 100%;

        background-color: #f4f4f9;

        border: none;
        cursor: pointer;

        transition:
            top 0.5s ease-in-out,
            left 0s ease-in-out;
    }
    .buttonUp:hover {
        box-shadow: 0 0 20px gray;
    }

    .buttonUpHide {
        z-index: 149;
        position: fixed;
        top: 110%;
    }
}
