.upDiv {
    .buttonUp {
        z-index: 150;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 88%;
        left: 93%;
        padding: 1%;
        width: 40px;
        height: 60px;
        border-radius: 50%;

        border: none;
        cursor: pointer;

        transition:
            top 0.5s ease-in-out,
            left 0s ease-in-out;
    }

    .buttonUpHide {
        z-index: 149;
        position: fixed;
        top: 110%;
    }
}
