.profile {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 2rem;
    }

    .buttonPic {
        all: unset;
        width: 100%;
        clip-path: circle();
        img {
            height: 80%;
            width: 100%;
            border-radius: 100%;
            clip-path: circle();
        }

        height: 10vh;
        border-radius: 100%;
        background-color: transparent;
        border-color: #f4f4f9;
    }
    .buttonPic:hover {
        cursor: pointer;
    }
}

.profileMenu {
    border-radius: 2px;
    color: var(--background-light);
    text-align: center;
    background-color: var(--button-color-light);
    width: 8rem;
    p:hover {
        cursor: pointer;
    }

    .profileButtonTop {
        border-bottom: 1px var(--contrast-color-light) solid;
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonTop:hover {
        background-color: var(--hover-color-light);
        border-radius: 2px 2px 0px 0px;
    }
    .profileButtonMiddle {
        border-bottom: 1px var(--contrast-color-light) solid;
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonMiddle:hover {
        background-color: var(--hover-color-light);
    }
    .profileButtonBottom {
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonBottom:hover {
        background-color: var(--hover-color-light);
        border-radius: 0px 0px 2px 2px;
    }
}

.profileMenuNight {
    border-radius: 2px;
    text-align: center;
    background-color: var(--button-color-dark);
    width: 8rem;
    p:hover {
        cursor: pointer;
    }

    .profileButtonTop {
        border-bottom: 1px var(--text-color-dark) solid;
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonTop:hover {
        background-color: var(--hover-color-dark);
        border-radius: 2px 2px 0px 0px;
    }
    .profileButtonMiddle {
        border-bottom: 1px var(--text-color-dark) solid;
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonMiddle:hover {
        background-color: var(--hover-color-dark);
    }
    .profileButtonBottom {
        height: 2rem;
        padding-top: 2%;
    }
    .profileButtonBottom:hover {
        background-color: var(--hover-color-dark);
        border-radius: 0px 0px 2px 2px;
    }
}
