//------ Contenedor de todo el Home
.contHome {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5%;
}

//----- Contenedor de titulo del catalogo de auxies
.catalogTitleCont {
    background-color: var(--div-border-color-dark);
    color: var(--button-color-dark);
    width: 100%;
    .catalogTitle {
        margin: 1% 2%;
    }
}

.catalogTitleContNight {
    background-color: var(--background-light);
    color: var(--text-color-light);
    width: 100%;
    .catalogTitle {
        margin: 1% 2%;
    }
}
//----- Contenedor de componentes Filters y Cards (catalogo de auxies)
.catalogCont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    .catalog {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2%;
        .filters {
            width: 15%;
            height: 20rem;
        }
        .cards {
            width: 80%;
        }
    }
}

.servicesTitleCont {
    background-color: var(--third--color-light);
    width: 100%;
    .servicesTitle {
        margin: 1% 2%;
    }
}

.servicesCont {
    display: flex;
}

//--- footer
.footer {
    z-index: 6;
    color: white;
    background-color: #181818;
    height: 70vh;
    p {
        color: white;
    }
    .footerInfo {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 2%;
        gap: 2%;
    }
    .divFooterTitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            font-size: 50px;
        }
        h4 {
            font-size: 35px;
        }
    }
    .divFooterImg {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 30vh;
        height: 30vh;
    }
    .divCopy {
        margin: 2% 0 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
