.hide {
    display: none;
}
.layout {
    width: 80%;
    height: 60%;
    margin-bottom: 20%;
    display: grid;
    // object-fit: contain;
    grid-template-rows: repeat(4, 240px);
    grid-template-columns: repeat(2, 1fr);
    gap: 5% 0px;
}
@media (max-width: 900px) {
    .layout {
        gap: 240px 0px; 
    }
}
.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 1em 0 2em;

    img {
        background-color: var(--secondary--color-light);
        width: 100%;
        height: 100%;
        // padding: 20px;
        border-radius: 10%;
    }
}

.howItWorks {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    // background-color: var(--secondary--color-light);
    padding-left: 5%;
    margin-bottom: 5%;
    background-color: rgba(74, 74, 74, 0.151);

    box-shadow: 0px 30px 52px -25px var(--secondary--color-hover);
    h2 {
        font-size: 2.5em;
        font-weight: 450;
    }
}

.step {
    display: block;
    padding: 0 0 5% 5%;
    margin-top: 1.5em;
    height: 80% auto;
    max-height: 80%;
    border: black 1px solid;
    border-width: 0 0 0 4px;
    width: 80%;
    
    h3 {
        color: var(--accent--first--color-light);
        font-weight: 400;
        font-size: 1.25em;
    }
    h2{
        font-weight: 500;
        font-size: 1.5em;
        padding: 0.5em 0;
    }
    p {
        font-size: 100%;
        font-weight: 300;
    }
}

.faqSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 2em auto 3em auto;
    padding-top: 4em;
    h2 {
        font-size: 2em;
        background-color: var(--secondary--color-light);
        padding: 2%;
        border-bottom: rgba(0, 0, 0, 0.071) 2px solid;
    }
}

.faqItem {
    padding: 2% 10% 2% 2%;
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: rgba(0, 0, 0, 0.071) 2px solid;
    position: relative;     
    
    img{
        position: absolute;
        top: 40%;
        right: 5%;
    }
    
}

.faqAnswer {
    font-size: 90%;
    font-weight: 300;
    background-color: var(--secondary--color-light);
    width: 100%;
    height: 100%;
    padding: 2%;
}
