.support-form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    max-width: 800px;
}

.input-group {
    margin-bottom: 15px;
    
}

.error-message {
    color: red;
    margin-top: 10px;
}

.submission-message {
    color: green;
    margin-top: 10px;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.small-text {
    font-size: 11px;
    font-weight: normal;
}