.cardCont {
    background-color: rgba(162, 155, 227, 0.515);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--secondary--color-hover);
    border-radius: 1.5%;
    width: 300px;
    height: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.5s;
}
.cardCont:hover {
    border: 1px solid var(--secondary--color-hover);
    transform: scale(1.03);
}


.requestDetails{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 5%;
    gap: 1%;
}

.statusButtonCont{
    margin: 5%;
}

p {
    font-weight: bold;
}