.cardCont {
    background-color: var(--card-background-light);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary--color-hover);
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 1em 2em 1em 2em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.cardContNight {
    background-color: var(--card-background-dark);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--secondary--color-hover);
    border-radius: 5px;
    width: 80%;
    height: 8em;
    padding: 2px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.22);
}

.requestDetails {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 70%;
    gap: 0px 20px;
    .requestInfo{
        display: flex;
        flex-flow: column wrap;
        max-width: 20%;
        flex-grow: 1;
    }
}

p {
    font-weight: bold;
}

.auxieLink:hover{
    cursor: pointer;
    color: var(--button-color-light);
}

.reviewFormContainer{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #33333399;
    display: flex;
    justify-content: center;
    align-items: center;
    .reviewForm{
        background-color: #f9f7e8; /* Color amarillo pastel */
        border: 2px solid yellow;
        border-radius: 1rem;
        padding: 2rem;
        height: max-content;
        button {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    
    .pickerContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // margin-bottom: 5rem;
    }
    
    .picker {
        width: 100%;
        margin-bottom: 1rem;
    }
    
}
