.navLanding {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 30;

    a:hover {
        border-bottom: 1px solid var(--hover-color-dark);
        transition: ease-in 0.5s;
    }
    .containerLeft {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logoDiv {
            width: 10%;
            margin-right: 5%;
            a {
                border-bottom: none;
            }
            .logo {
                width: 100%;
            }
        }

        .viewsLanding {
            display: flex;
            gap: 5%;

            .select {
                font-family: var(--font-poppins);
                font-weight: 500;
                border-radius: 5px;
            }

            ul {
                display: flex;
                width: 100%;
                li {
                    border-radius: 30px;
                    padding: 10px;
                }
                li:hover {
                    cursor: pointer;
                    border-radius: 30px;
                    padding: 10px;
                    background-color: var(--sixth--color-light);
                    transition: background-color 0.5s ease;
                }
            }
            .auxie {
                font-size: 120%;
                font-family: var(--font-poppins);
                font-weight: 500;
            }

            .consumer {
                font-size: 120%;
                font-family: var(--font-poppins);
                font-weight: 500;
            }
        }
    }
}

.logInOrRegister {
    display: flex;
    margin-right: 3%;
    gap: 20px;
    ul {
        height: 50px;
        display: flex;
        padding: 10px;
        gap: 10%;
        margin-right: 8%;
    }
    .login {
        all: unset;

        font-size: large;
    }
    .login:hover {
        all: unset;
        cursor: pointer;
        font-size: large;
        border-bottom: 2px solid var(--button-color-light);
    }
    .register {
        all: unset;
        font-size: large;
    }

    .register:hover {
        all: unset;
        cursor: pointer;
        font-size: large;
        border-bottom: 2px solid var(--button-color-light);
    }
}

.default {
    display: none;
}

/* Menu condicional */

.logInMenu {
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: var(--secondary--color-light);
    overflow: hidden;
    .container {
        font-size: 200%;

        div {
            width: 90%;
            height: 50%;
            display: flexbox;
            margin-top: 5%;
            div {
                background-color: var(--sixth--color-light);
                margin-left: 10%;
                padding-left: 30%;
                padding: 5%;
                border-radius: 10px;
                transition: background-color 0.5s ease;
            }
            div:hover {
                background-color: var(--secondary--anchor--color-hover);
            }
        }
    }
}
.registerMenu {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: var(--secondary--color-light);

    .container {
        font-size: 200%;
        div {
            width: 90%;
            height: 50%;
            display: flexbox;
            margin-top: 5%;

            div {
                background-color: var(--sixth--color-light);
                margin-left: 10%;
                padding-left: 30%;
                padding: 5%;
                border-radius: 10px;
                transition: background-color 0.5s ease;
            }
            div:hover {
                background-color: var(--secondary--anchor--color-hover);
            }
        }
    }
}
.hiden {
    section {
        display: none;
    }
    footer {
        display: none;
    }
}
