.featuredCard {
    background-color: var(--secondary--color-light);
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    border: 1px solid var(--secondary--color-hover);
    border-radius: 1.5%;
    width: 30%;
    height: 80%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    transition: all 0.5s;
    font-size: 50%;
}
.featuredCard:hover {
    border: 1px solid var(--secondary--color-hover);
    transform: scale(1.03);
}

.contPersonal {
    display: flex;
    align-items: center;
    margin: 5%;
    gap: 10%;
    .info {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 50%;
    }

    .name {
        display: flex;
        flex-flow: column wrap;
    }

    .profilePic {
        display: flex;
        img {
            object-fit: cover;
        }
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 2%;
    }
}

.contServices {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    border-top: 1px var(--accent--first--color-light) solid;
    border-bottom: 1px var(--accent--first--color-light) solid;
    .serviceDiv {
        width: 100%;
        text-align: start;
        margin-left: 5%;
    }
    .serviceName {
        color: var(--accent--first--color-light);
    }
}

.text {
    margin: 0 1em;
}
