.servicesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;

    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        button{
            display: flex;
            flex-direction:column;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }

    th {
        background-color: #f2f2f2;
        color: #333;
        
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
    }

    tr:hover {
        background-color: #e1e1e1;
        color: black;
        cursor: pointer;
    }
}

.priceFormContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #33333399;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceForm {
    color: #888;
    width: 40%;
    height: fit-content;
    background-color: #555;
    border-radius: 1rem;
    border: 1px solid #000000;
    box-shadow: 0px 0px 19px 5px rgba(250, 250, 250, 0.1);
}

.buttonContainer{
    display: flex;
    align-items: center; 
    gap:10px;
    padding-right: 100%;
}