.googlebutton{
    margin-top: 8%;
  
   
}
.container{
    select{
        width: 100%;
        background-color: rgb(233, 233, 233);
        height: 3rem;
        margin-bottom: 5%;
        margin-top: 2%;
        padding: 2%;
    }
    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
       
    }
    
  }
  .errors{
    height: 3%;
    font-size: 0.8rem;
    color: red;
    p{
        font-weight: 300;
    }
  }
  .sendbutton{
   
        justify-content: center;
            text-align: center;
        
    
  }