.form {
    max-width: 100%;
    background-color: rgba(189, 189, 189, 0.165) !important;
    margin-right: 15%;
    border-radius: 1rem;
    border: 2px solid var(--secondary--color-hover);
    .send {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .picker {
        width: 90%;
        margin-bottom: 5%;
        margin-top: 3%;
    }
}
