.form {
    max-width: 80%;
background-color:rgba(195, 201, 255, 0.5);
    margin-top: 5%;
    border-radius: 1rem;
    .send {
        margin-top: 5%;
        margin-bottom: 3%;
    }
   
    .picker {
        width: 90%;
        margin-bottom: 5%;
    }
}
