.containerPagination {
    text-align: center;
    margin: 10px;
}

.pageButton {
    padding: 8px;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f2f8fd;
}

.prevNextButtons {
    padding: 5px;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f2f8fd;
}

.disabled {
    padding: 5px;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #f2f8fd;
}

.prevNextButtons:hover {
    background-color: #92c4f3;
}

.pageButton:hover {
    background-color: #92c4f3;
}

.currentPage {
    padding: 5px;
    border: none;
    transform: scale(1.3);
    margin: 0 5px;
    border-radius: 5px;
    background-color: #92c4f3;
}
