.chatlist {
    border-bottom: 1px solid black;
    padding: 10%;

    margin-top: 10%;
    margin-left: 10%;
    // overflow: scroll;
    width: 12rem;
    font-weight: 700;

    &:hover {
        background-color: darkgrey;
    }
}
