.claims {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 3% auto;
    background-color: var(--sixth--color-light);
    border: 2px solid var(--accent--primary--color-light);
    border-radius: 8px;
    padding: 3rem;
    height: 45%;
    justify-content: center;
}

/* Estilos para los campos del formulario */
.formlabel {
    margin-bottom: 0.5rem;
}

.claims input,
.claims textarea,
.claims select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.claims button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5%;
    background-color: var(--accent--primary--color-light);
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.claims button:hover {
    background-color: var(--accent--first--color-light);
}

.claims button:disabled {
    cursor: not-allowed;
}

.claims input[type='checkbox'] {
    margin-right: 0.5rem;
}

/* Estilos para las etiquetas de los checkboxes */
.claims label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.error {
    font-size: 100%;
    color: red;
    background-color: var(--primary--color-light);
    padding: 1%;
    border-radius: 10px;
}
