.title {
    text-align: center;

    background-color: #e2e2e2;
    color: black !important;
    // border-radius: 10px 10px 0px 0px;
    // border: 1px solid black;
    // width: 450px;
    // position: absolute;
    border-bottom: 0.1px solid;
    
   
}
.daycontainer {
    // min-width: 450px;
    background-color: var(--background-light);
    padding: 5%;
    // border-radius: 1%;
    max-height: 500%;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.notificationcontainer {
    // width: 400px;
    background-color: #e2e2e2;
    padding: 5%;
    // border-radius: 1%;
    max-height: 500%;
    overflow-y: scroll;
    color: var(--text-color-dark);
    scrollbar-width: thin;
    // margin-top: 15%;
}
.message {
    border-bottom: 1.5px solid var(--button-color-light);
    border-radius: 1%;
    padding: 0.75em;
    // margin-left: 2%;
    color: black !important;
}
.message:hover {
    background-color: #d5d5d5;
}
.loader {
    text-align: center;
}
