.title {
    text-align: center;
    
    background-color: #567eacef;
    // color: white;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid black;
}
.daycontainer{
    background-color: var(--background-light);
    padding: 5%;
    border-radius: 1%;
    max-height: 500%;
    overflow-y: scroll;
    scrollbar-color: blue pink;
    scrollbar-width: thin;
}
.notificationcontainer {
    background-color:var(--background-dark);
    padding: 5%;
    border-radius: 1%;
    max-height: 500%;
    overflow-y: scroll;
    color: var(--text-color-dark);
    scrollbar-color: blue pink;
    scrollbar-width: thin;
    
}
.message {
    border-bottom: 1.5px solid var(--button-color-light);
    border-radius: 1%;
    padding: 0.75em;
    margin-left: 2%;

}
.message:hover{
 background-color: #6fa3dfef;

}

