.profileAuxi {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 14% 85%;
    grid-template-rows: 8% 85% 5%;
    gap: 1%;
    height: 100vh;
    background-color: #1f1f1f;
    /* Colores to change */

    color: white;
    /* End of colors  */
    .header {
        grid-area: header;
    }
    .main {
        grid-area: main;
        background-color: #999999;
    }
    .footer {
        grid-area: footer;
        background-color: #999999;
    }
}
