.logo {
    width: 20%;
    display: flex;

    .img {
        width: 100%;
    }
    a {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
