.logInMenu {
    position: absolute;
    width: 100%;
    height: 100vh;

    z-index: 25;
    overflow: hidden;
    div {
        z-index: 25;
    }
    .container {
        background-color: var(--accent--terciary--color-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
}
.registerMenu {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 25;
    overflow: hidden;
    div {
        z-index: 25;
    }
    .container {
        background-color: var(--accent--terciary--color-light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
}
.hiden {
    section {
        display: none;
    }
    footer {
        display: none;
    }
}
.landing {
    display: grid;

    /* Estilos para la sección 1 (menuLogo) */
    .sectionMenu {
        z-index: 2;
        margin-top: 4%;
        height: 75vh;
    }
    .menuLogo {
        background-image: url('../../assets/background-main.jpg');
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .menuMain {
            margin-left: 25%;
            border-radius: 10px;

            background-color: var(--secondary--color-light);
            color: var(--primary--color--white);
            width: 40%;
            height: 40vh;

            margin-top: 5%;
        }
        .buttonsMenuMain {
            display: flex;
            text-align: center;
            height: 25%;

            .searchAuxie {
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
            }
            .searchAuxie:hover {
                background-color: var(--accent--primary--color-light);
                cursor: pointer;
            }
            .turnAuxie {
                all: unset;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
            }
            .turnAuxie:hover {
                background-color: var(--accent--primary--color-light);
                cursor: pointer;
            }
        }
        .menuSearchAuxie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            align-items: center;
        }
        .menuTurnAuxie {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
    }

    /* Estilos para la sección 2 (slogan) */
    .slogan {
        z-index: 3;
        background-color: #b8dbd9;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 30vh;
        .divSlogan {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 2% 0 0 10%;
            gap: 20px;

            h3 {
                font-size: 30px;
            }
            p {
                font-size: 15px;
                display: flex;
                flex-direction: column;
            }
        }
        .buttonSlogan {
            width: 120px;
            margin: 2% 0 0 10%;
        }
    }
    /* Estilos para la sección 3 (cards) */
    .serviceCards {
        z-index: 4;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10%;
    }
    /* Estilos para la sección 4 Auxies */
    .auxies {
        z-index: 5;
        height: 100vh;

        font-size: 35px;
        gap: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .featuredAuxies {
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 50%;
            background-color: #b8dbd9;
            .featuredlist {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20%;
                font-size: 20px;
            }
        }
    }

    /* Estilos para la sección 5 (landingFooter) */
    .landingFooter {
        z-index: 6;
        background-color: var(--accent--primary--color-light);
        height: 100vh;
        .divFooterTitle {
            padding-top: 6%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10%;
            h3 {
                font-size: 50px;
            }
            h4 {
                font-size: 35px;
            }
        }
        .divFooterImg {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        .divCopy {
            margin: 17% 0 0 5%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }
}
