.servicesCont{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.servicesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12px;
    overflow-x: auto;
    display: block;
    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
    }

    tr:hover {
        background-color: #e1e1e1;
        color: black;
        cursor: pointer;
    }
}

.actionButton{
    display: flex;
    justify-content: center;
}

.reviewFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #33333399;
    display: flex;
    justify-content: center;
    align-items: center;
    .reviewForm{
        background-color: #f9f7e8; /* Color amarillo pastel */
        border: 2px solid yellow;
        border-radius: 1rem;
        padding: 2rem;
        height: max-content;
        button {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    
    .pickerContainer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // margin-bottom: 5rem;
    }
    
    .picker {
        width: 100%;
        margin-bottom: 1rem;
    }
    
}

.separacion {
    background-color: #555;
}

.servicesTitleCont{
    margin-left: 5%;

    .servicesTitle{
        color:#333;
    }
}


.clientServicesCards {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 2%;
    gap: 10px;
}

button {
    border-radius: 3px;
    margin: 2px;
}