.servicesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12px;
    overflow-x: auto;
    display: block;
    th,
    td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
        color: black;
    }

    tr:hover {
        background-color: #e1e1e1;
        color: black;
        cursor: pointer;
    }
}

.separacion {
    background-color: #555;
}


.clientServicesCards{
    display: flex;
    gap: 2px 2px;
}
