.navGeneral {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 2%;
    width: auto; /* Allow the content to determine width */
}

.nightswitch {
    display: flex;
    // margin-left: auto; /* Push to the rightmost position within .right */
    height: 50%;
    margin-right: 3%;
}
.notifications {
    margin-left: auto;
    margin-right: 2%;
}
