.auxieInbox {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'footer footer';
    grid-template-columns: 14% 85%;
    grid-template-rows: 9% 84% 5%;
    gap: 1%;
    height: 100vh;

    /* Colores to change */
    background-color: #1f1f1f;
    color: white;
    /* End of colors  */

    .header {
        grid-area: header;
    }

    .main {
        display: grid;
        grid-area: main;
        grid-template-areas: 'services payments';
        grid-template-columns: 69% 30%;
        grid-template-rows: 100%;
        gap: 1%;
        .services {
            grid-area: services;
            background-color: #a7a1a1;
            display: flex;
            flex-direction: column;
            gap: 5%;
            .userServices {
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                gap: 1%;
            }
        }
        .payments {
            grid-area: payments;
            background-color: #222;
        }
    }

    .footer {
        grid-area: footer;
        background-color: #333;
        color: #fff;
        padding: 10px;
    }
    .inProgress {
        display: block;
        text-align: center;
        margin-top: 50%;
    }
}

