.fullProfileContainer {
    display: flex;
    flex-flow: row wrap;
}
.profilecontainer {
    display: flex;
    flex-direction: column;
    //   align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid rgba(116, 116, 116, 0.506);
    padding: 20px;
    margin: 5% auto; /* Center the container horizontally */
    border-radius: 2%;
    max-width: 800px; /* Set a maximum width for the container */
    width: 100%; /* Allow the container to take the full width if smaller than max-width */
    .name {
        height: 150px;
        // margin-right: 40%;
        // margin-left: -40%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 400%;
        margin-top: 5%;
        border-radius: 10px;
    }
    img {
        width: 400px; /* Ajusta el tamaño de la foto de perfil */
        height: 400px;
        border-radius: 50%; /* Hace que la imagen sea redonda */
        // margin-top: 10%;
        margin-left: 25%;
    }

    input[type='file'] {
        margin-top: 20px;
    }
    input[type='number'] {
        margin-left: 5%;
        max-width: 25%;
    }
    h1 {
        height: 150px;
        margin-right: 40%;
        margin-left: -40%;
        width: 180%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 400%;
        margin-top: 5%;
        border-radius: 10px;
    }

    h4 {
        display: flex;
        align-items: center;
        margin-top: 5px;

        &.isAdmin {
            margin-left: auto;
        }
    }

    h4:nth-child(3) {
        text-align: center;
        margin-top: 10px;
    }

    h3 {
        text-align: left;
        margin-top: 10px;

        button {
            margin-left: 10px;
        }
    }

    h6 {
        margin-top: 10px;
        text-align: left;
    }

    div {
        // margin-top: 20px;

        h5 {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px 0;
            list-style: square;
        }
    }

    button {
        margin-top: 20px;
    }

    .gallery-container {
        margin-top: 20px;
    }

    .gallery-item {
        display: inline-block;
        width: 80px;
        height: 60px;
        margin-right: 5px;
        position: relative;
    }

    .gallery-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    .gallery-item button {
        position: absolute;
        top: -17px;
        right: 5px;
        color: white;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .updatebutton {
        margin-bottom: 5%;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-bottom: 10%;
        padding: 1%;
        border-radius: 5px;
        font-family: var(--font-poppins);
    }
}
.typechecks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.9rem;
    grid-row-gap: 0.9rem;
    height: 55rem;
    width: 80%;
    max-height: 55rem;
    min-height: 55rem;
    margin: 10%;
    overflow-x:auto;
   
    
   
}
.typechecksContainer{
      max-width:99%;
}
/* Update .typechecks label class */
.typechecks label {
    position: relative; /* Add relative positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 75%; /* Occupy full width of the grid cell */
    border: 1px solid #ccc;
    border-radius: 4px;
}
.typechecks::-webkit-scrollbar {
    // display: none;
}

.typechecks label:hover {
    background-color: #a1a1a1;
}
.typechecks input[type='checkbox'] {
    display: none;
    width: 0;
    height: 0;
}
.typechecks input[type='number'] {
    width: 15rem;
    height: max-content;
    // padding: 1%;
    // margin-bottom: 2%;
    border-radius: 10%;
    border: 1px solid#0974f1;
}
.typechecks input:checked {
    box-shadow: 0 0 20px rgb(0, 119, 255);
    border: 2px solid #0974f1;
}
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    border: 2px solid #414141;
    border-radius: 5px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 5%;
}
.typechecks input:hover ~ .checkmark {
    border: 2px solid #0974f1;
}

/* When the checkbox is checked */
.typechecks input:checked ~ .checkmark {
    box-shadow: 0 0 20px rgb(9, 117, 241);
    border: 2px solid #0974f1;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.typechecks input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.typechecks .checkmark:after {
    left: 0.35em;
    top: 0.115em;
    width: 0.25em;
    height: 0.5em;
    border: solid rgb(45, 221, 252);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
.edit {
    margin-top: 20px;
    margin-bottom: 5%;
    padding: 1%;
    border-radius: 5px;
    font-family: var(--font-poppins);
}
.offerlabel {
    border-bottom: 1px solid black;
    margin: 1%;
}
.priceContainer{
    height: 5rem;
    display: flex;
    align-content: center;
    justify-content: center;
}