.cardServices {
    background-color: white;
    border-radius: 10px;

    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 5px 15px rgba(0, 0, 0, 0.08);
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    .cardImg {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .cardBody {
        padding: 20px;
    }
}

.cardServices:hover {
    transform: translateY(-5px);
    box-shadow:
        0 6px 8px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.12);
}

//Night Mode
.cardServicesNight {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
    border-radius: 10px;

    box-shadow:
        0 6px 8px rgba(255, 255, 255, 0.05),
        0 8px 20px rgba(255, 255, 255, 0.1);
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    .cardImg {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .cardBody {
        padding: 20px;
    }
}
.cardServicesNight:hover {
    transform: translateY(-5px);
    box-shadow:
        0 6px 8px rgba(255, 255, 255, 0.1),
        0 8px 20px rgba(255, 255, 255, 0.15);
}
