.cardServices {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    width: 15rem;
    min-height: 15rem;
    img {
        width: 100%;
        height: 100%;
    }
}
